body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #D6ECFD;
    color: #666 !important;
}
span[role=menuitem] {
  font-size: 14px !important;
  width: 95% !important;
}
